*{
  font-family: inter;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
}


body {
  margin: 0px;
  background-color: #e5e5e5;
}

.logo{
  padding-top:15px;
  position: absolute;
  top: 0%;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 40px;
}

.input__encriptador {
  width: 680px;
  height: 240px;
  border: none;
  background-color: #e5e5e5;
  font-size: 32px;
  color: #0A3871;
  text-decoration: none;
  margin-left: 70px;
  padding: 20px;
  resize: none; 
  overflow: hidden;
  margin-top: 100px ;
}

.input__encriptador::placeholder {
  color: #0A3871;  
  font-size: 32px;
}

.input__encriptador:focus {
  outline: none;
}

.container__codigoencriptado {
  width: 300px;
  height: 500px;
  background-color: white;
  background-image: url(../../assets/Muñeco.png);
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  border: none;
  color: #0A3871;
  font-size: 24px;
  resize: none; 
  overflow: hidden;
  padding: 32px;
  border-radius: 32px;
  display: block;
}

.container__codigo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 800px;
  background-color: white;
  border-radius: 32px;
  border: none;
}

.container__codigoencriptado:focus{
  outline: none;
}

.container__input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imagen_mucheco {
  width: 336px;
  height: 304px;
}

.container__botones{
  display: flex;
  flex-direction: row;
  /* margin-left: 80px; */

}

.boton__encriptar {
  width: 328px;
  height: 67px;
  border-radius: 24px;
  align-items: center;
  background-color: #0A3871;
  border: none;
  color: #D8DFE8;
  font-size: 16px;
  margin-left: 80px;
}

.boton__desencriptar {
  width: 328px;
  height: 67px;
  border-radius: 24px;
  align-items: center;
  background-color: #D8DFE8;
  border: solid 1px #0A3871;
  color:#0A3871;
  font-size: 16px;

}

.texto{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  margin-left: 80px;
}

.textoIndicativo{
  font-size: 16px;
}

.btn_copiar{
  display: none;
  margin-bottom: 32px;
  background-color: white;
}

#placeholder-text {
  text-align: center;
  color: #2d282880;
  padding: 32px;
}

.titulo_mensaje{
  color: #343A40;
  font-weight: 600;
  font-size: 24px;
}

.parrafo_mensaje{
  font-size: 16px;
}

/* Media Query 1400px */

@media (max-width: 1400px) {
  .container__codigo {
    height: 700px;
  }

  .boton__encriptar {
    margin-left: 15px;
  }

  .input__encriptador{
    margin-left: 15px;
  }

  .texto{
    margin-left: 15px;
  }
}

/* 
Media query 900px tablet */

@media (max-width: 1152px) {
  .container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container__codigoencriptado {
    background-image: none;
    height: fit-content;
    width: 80%;
    display: none;
  }


  .container__codigo {
    height: fit-content;
    width: 90%; 
    margin: 60px auto;
  }
  .boton__encriptar{
    max-width: 328px;
  }

  .boton__desencriptar{
    max-width: 328px;
  }
 
}

@media (max-width: 640px) {
  .container__input{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

  .container__btn{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .boton__encriptar{
    margin-left: 0px;
  }

  .input__encriptador{
    width: 343px;
    margin: 60px auto;

  }

  .container{
    margin: 0 auto;
  }
 
}